#top_navig_bar ul {
  list-style-type: none;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
#top_navig_bar li {
  float: left;
}
#top_navig_bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#top_navig_bar li:last-child {
  float: right;
}
#pers_greet {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  margin-right: 2em;
  text-decoration: none;
}
#top_navig_bar li a:hover {
  background-color: #111;
}
html {
  background: #f5f7f8;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  padding: 20px 0;
}
.content {
  padding: 4.4rem 0 3.6rem 0;
}
.filter {
  margin: 1rem 1rem;
}
.filterBtn {
  transition-duration: 0.4s;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
}
.filterBtn:active {
  background-color: Black;
  color: white;
}
.filterForm {
  padding: 0.5rem 1rem;
}

.blog_post {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}
@media (min-width: 30em) {
  .blog_post {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 60em) {
  .blog_post {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;
}
.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
.card article {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}
.card p {
  flex: 1;
  line-height: 1.4;
}
.card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 2em 0 0 0;
}
.card .thumb {
  size: cover;
}

.flashes {
  border-width: 2px;
}
.row {
  width: 92%;
  max-width: 1040px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
}
.post {
  padding: 4.4rem 0 3.6rem 0;
}

.entry {
  padding-bottom: 1.2rem;
  margin-bottom: 3.2rem;
}
.entry__header {
  border: none;
  height: auto;
}
.entry h2 {
  margin-top: 0;
  margin-bottom: 0;
  color: black;
}
.entry__meta ul {
  list-style: none;
  margin: 0.8rem 0 2rem;
  font-size: 1.422;
  color: #a7a7a7;
  line-height: 2.8rem;
}
.entry__meta ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
}
.entry__content-media {
  margin: 3.2rem 0 4.8rem;
  align-content: center;
}
.entry__content-media img {
  vertical-align: bottom;
  max-width: 80%;
}
.post_rating {
  padding: 1rem;
}
.ratingForm {
  padding: 1rem 1rem;
}
.ratingForm span {
  margin: 1rem 1rem;
}
.ratingForm input[type="number"] {
  padding: 1rem 1rem;
}
.comments {
  padding-top: 4rem;
  padding-bottom: 1.2rem;
  border-top: 1px solid black;
}
.comment_text ul {
  list-style-type: none;
}
.commentList {
  margin: 6rem 0 5.6rem;
  padding: 0;
  border: 1px solid black;
}
.commentList > .comment {
  position: relative;
  list-style: none;
  margin: 0 1rem;
  padding: 1rem 0 0 0;
}
.comment__info {
  position: relative;
}
.comment__info .comment__author {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.778rem;
  font-style: normal;
  color: #272727;
}
.comment__meta {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 0.8rem;
  line-height: 2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #a7a7a7;
}
.comment__meta .comment__time {
  margin-right: 0.8rem;
}
.comment__text {
  clear: both;
  border: 1px solid black;
  border-radius: 10px;
}
.comment__text p {
  margin: 1.1rem 1rem;
}
.commentForm input {
  margin-top: 10px;
}
.commentArea {
  width: 100%;
  padding: 2rem 1rem;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.submitBtn {
  transition-duration: 0.4s;
  padding: 1rem 1rem;
}

.submitBtn:active {
  background-color: Black;
  color: white;
}

.registrationForm input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0 3rem 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.registrationForm input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}
.registerBtn {
  transition-duration: 0.4s;
  padding: 1rem 2rem;
  margin: 1rem 0;
  width: 100%;
}
.registerBtn:active {
  background-color: Black;
  color: white;
}

.loginForm input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0 3rem 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.loginForm input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

footer {
  bottom: 0;
  margin-top: 3rem;
}
.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease 0.25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease 0.25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed p.footer-links a:hover {
  text-decoration: underline;
}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left {
    text-align: center;
  }
  .footer-distributed {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}
