{% extends "layout.html" %} {% block content %}
<div class="filter">
  <form action="" method="POST">
    {{form.csrf_token}} {{form.sort_by(class_="filterForm")}}
    <input type="submit" value="Filter" class="filterBtn" />
  </form>
</div>

<div class="blog_post">
  {% for post in posts %}
  <div class="{{'item' + loop.index|string}}">
    <a href="{{ url_for('post', post_id=post.id) }}" class="card">
      <img
        src="{{ url_for('static', filename='img/' + post.image_file) }}"
        alt=""
        class="thumb"
        width="354px"
        height="auto"
      />
      <article>
        <h1 class="post_title">"{{ post.title }}"</h1>
        <p class="short_description">{{ post.summary }}</p>
        <span
          >by {{ post.user.first_name }} &nbsp; {{post.date.strftime('%I:%M
          %p')}} &nbsp; {{post.date.strftime('%d-%m-%Y')}}</span
        >
      </article>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock content %}
