{% extends "layout.html" %} {% block content %}
<div class="row">
  <div class="loginForm">
    <form method="POST" action="">
      {{ form.csrf_token }}
      <p>{{ form.username.label }} {{ form.username }}</p>
      <p>{{ form.password.label }} {{ form.password }}</p>
      <p><input type="submit" value="Login" class="registerBtn" /></p>
    </form>
  </div>
</div>
{% for error in form.username.errors %}
<span class="login_error" style="color: red">[{{ error }}]</span>
{% endfor %} {% for error in form.password.errors %}
<span class="login_error" style="color: red">[{{ error }}]</span>
{% endfor %} {% endblock content %}
