{% extends "layout.html" %}
{% block content %}
<form method="POST" action="">
  {{ form.csrf_token }}
  <p>{{ form.first_name.label }} {{ form.first_name }}</p>
  <p>{{ form.email.label }} {{ form.email }}</p>
  <p>{{ form.password.label }} {{ form.password }}</p>
  <p>{{ form.repeat_password.label }} {{ form.repeat_password }}</p>
  <input type="submit" value="Register">
</form>

{% for error in form.first_name.errors %}
  <span style="color: red;">[{{ error }}]</span>
{% endfor %}

{% for error in form.repeat_password.errors %}
  <span style="color: red;">[{{ error }}]</span>
{% endfor %}  


{% endblock content %}
